node_modules/
dist/
build/
.env
.env.local
.env.*.local
client/.env
client/.env.local
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
coverage/
client/dist/
client/assets/
server/.env

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
